.container {
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    min-width: 1200px;
}

.container>div {
    width: 120%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row2 {
    width: 80% !important;
}