.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title span {
    border: 2px solid rgba(77, 128, 244, 1);
    color: rgba(77, 128, 244, 1);
    font-size: 26px;
    padding: 0 10px;
    line-height: 22px;
    border-radius: 20px;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card>div>span {
    cursor: pointer;
}

.card>div>span>span {
    color: rgba(77, 128, 244, 1);
    border: 2px solid rgba(77, 128, 244, 1);
    border-radius: 10px;
    padding: 1px 6px;
    font-size: 14px;
}

.card>p>span {
    color: rgba(77, 128, 244, 1);
    cursor: pointer;
}

.card table td {
    padding: 2px 0;
    font-size: 14px;
}

.card table td:first-child {
    color: gray;
    width: 25%;
    min-width: 100px;
}