.question {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.question p {
    font-size: 16px;
}

.options {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.options span {
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 6px -2px gray;
    cursor: pointer;
    transition: 200ms;
}

.options span:hover {
    opacity: 0.7;
    background: #eee;
}